<div class="container">
    <p class="text-muted">
        &copy; 2024 FunSpender Inc. | A proud member of the "We’re Totally Legit" Association™️
    </p>
    <p class="text-muted">
        Built with ❤️, Bootstrap, and a lot of caffeine.
    </p>
</div>